INSIGHTS:
  ID: "7203ae9b-0a66-4575-8540-b6c57d565b73"
CI:
  DOCKER_IMAGE_NAME: "hello-world"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/Mahesh-Gedepudi/helloworld-umbrella.git"
  REGISTRY_NAMESPACE: "modd-namespace"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  NOBUILD: "false"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "hello-world"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
